body {
    display: flex;
    flex-direction: column;
}

header {
    width: auto;
    line-height: 44px;
    text-align: center;
}

main {
    background: url('../img/1.jpg') no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    flex: 1;

    .box {
        position: absolute;
        right: 14px;
        top: 28px;
        width: 105px;
        height: 40px;
        line-height: 20px;
        border-radius: 20px;
        background-color: #fff;
        border: 1px solid rgba(187, 187, 187, 100);
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 14px;

        .sBox1 {
            width: 41px;
            line-height: 25px;
            border-right: 1px solid rgba(187, 187, 187, 100);
        }

        .sBox2 {
            width: 63px;
            line-height: 25px;
        }
    }

    .textBox {
        position: absolute;
        left: calc(50% - 119px);
        // top: 80%;
        width: 238px;
        height: 64px;
        color: #fff;
        font-size: 48px;
        text-align: left;
        animation: textShow 2s forwards;
    }

    @keyframes textShow {

        // 开始
        from {
            font-size: 0;
            opacity: 0;
            top:70%
        }
        // 结束
        to {
            font-size: 48px;
            opacity: 1;
            top:80%
        }
    }
}